{% extends "base.html" %}
{% set page = 'dashboard' %}
{% set live_note = "Charts update as you change these." %}
{% block title %}Overview - WOM Tracker{% endblock %}

{% block content %}
  {% for item in specs %}
    <div class="card chart" data-key="{{ item.key }}">
      <div class="card-head">
        <div>
          <h3>{{ item.title }}</h3>
          <p class="hint">{{ item.description }}</p>
        </div>
        {% if item.options %}
          <label class="pick">Show
            <select class="choice">
              {% for option in item.options %}
                <option value="{{ option }}">{{ option }}</option>
              {% endfor %}
            </select>
          </label>
        {% endif %}
      </div>
      <div class="plot loading"></div>
    </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script src="/static/d3.v7.min.js"></script>
  <script src="/static/chartkit.js"></script>
  <script src="/static/overview.js"></script>
{% endblock %}
